@model InsuranceApp.Presentation.ViewModels.InsuredPersonFormViewModel
@{
    ViewData["Title"] = "Upravit pojištěnce";
}

<h2>Upravit pojištěnce</h2>
@await Html.PartialAsync("_InsuredPersonForm", Model)
